.compose-main-con {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 5;
}

.compose-con {
    position: relative;
}

.composer {
    width: 600px;
    height: 700px;
    z-index: 1;
    box-shadow: -0px -0px 40px 0px rgba(88, 0, 139, 0.018);
    /* box-shadow: -0px -0px 30px 0px rgba(88, 0, 139, 0.048); */
    background: white;
    border-radius: 10px;
    border-radius: 0px 0px 10px 10px;
    /* padding: 7px 7px; */
    gap: 6px;
    position: relative;
    overflow: clip;
}

.compose-focus-overlay {
    position: absolute;
    height: calc(100% + 30px);
    height: 100%;
    background: rgba(49, 0, 71, 0.151);
    top: -30px;
    top: 0px;
    border-radius: 8px 8px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    z-index: 6;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    /* backdrop-filter: blur(10px); */
}

.confirm-box-compose {
    background: rgba(255, 255, 255, 0.801);
    backdrop-filter: blur(10px);
    width: 300px;
    border-radius: 10px;
    z-index: 5;
    padding: 8px 8px;
    gap: 15px;
    /* box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.089); */
}

.confirm-box-button {
    width: 50%;
    justify-content: center;
    background: rgb(144, 81, 207);
    color: white;
    font-weight: 500;
    padding: 7px;
    padding: 8px;
    border-radius: 5px;
    font-size: 13px;
    gap: 5px;
}

.recheck-button {
    background: rgba(158, 0, 87, 1);
}

.confirm-box-button:hover {
    cursor: pointer;
    background: rgb(157, 94, 221);
}

.recheck-button:hover {
    background: rgb(192, 0, 106);
}

.anim-send-con {
    color: rgb(88, 0, 110);
    color: rebeccapurple;
    font-size: 100px;
    animation: compose-send-anim 2s ease-in-out infinite;
}

@keyframes compose-send-anim {
    /* 0% {
        transform: translate(-350px, 350px) rotate(-45deg);
    }

    100% {
        transform: translate(350px, -350px) rotate(-45deg);
    } */

    0% {
        transform: translate(-400px, 0px);
    }

    100% {
        transform: translate(400px, 0px);
    }
}

.compose-window-controls {
    position: absolute;
    /* display: none; */
    flex-direction: row-reverse;
    justify-content: space-between;
    top: -33px;
    top: -1px;
    right: -1px;
    border-radius: 5px 10px 5px 5px;
    border-radius: 8px 8px 0px 0px;
    gap: 5px;
    gap: 6px;
    gap: 9px;
    z-index: 5;
    background: rgb(255, 255, 255);
    /* background: rgba(246, 235, 255, 0.822); */
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
    padding: 6px 6px 10px 8px;
    padding: 9px 9px 10px 11px;
    padding: 7px 6px 7px 9px;
    padding: 6px;
    padding-left: 8px;
    padding-bottom: 4px;
    /* border-radius: 5px 10px 5px 5px; */
    /* border-radius: 20px 10px 20px 20px;
    border-radius: 20px 20px 0px 20px; */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.0);
    right: 0px;
    top: -34px;
    top: -30px;
    top: -29px;
    width: 100%;
    /* border-bottom: 1px solid rgba(213, 170, 255, 0.116); */
}

.compose-con:hover {

    .compose-window-controls {
        display: flex;
    }
}

.compose-window-control-icon {
    font-size: 13px;
    color: rebeccapurple;
    border-radius: 50%;
    padding: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(228, 201, 255, 0.438);
    background-color: rgba(228, 201, 255, 0.815);
    backdrop-filter: blur(5px);
    aspect-ratio: 1;
}

.compose-window-fullscreen {
    color: rgb(143, 28, 91);
    background: rgba(255, 172, 190, 0.616);
}

.compose-window-newscreen {
    color: rgb(143, 28, 143);
    background: rgba(255, 172, 255, 0.616);
}

.compose-window-control-icon:hover {
    cursor: pointer;
    background-color: rgb(216, 177, 255);
}

.compose-window-fullscreen:hover {
    background: rgba(255, 156, 177, 0.932);
}

.compose-window-newscreen:hover {
    background: rgba(255, 141, 255, 0.89);
}

.compose-subject {
    padding: 9px 12px;
    padding: 10px 12px;
    padding: 6px 9px;
    padding: 12px 17px;
    padding: 8px 10px;
    padding: 6px 0px;
    font-size: 15px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(41, 41, 41);
    letter-spacing: 0px;
    color: rgba(152, 97, 255, 0.438);
    color: rgba(102, 51, 153, 0.253);
    color: rgba(68, 68, 68, 0.384);
    color: rgba(102, 51, 153, 0.918);
    /* background: rgb(242, 225, 255);
    background: rgba(242, 225, 255, 0.726); */
    border-radius: 6px;
    /* border-radius: 7px 5px 6px 0px; */
    margin: 5px 14px 0px 14px;
    /* padding-bottom: 5px; */
}

.compose-subj-add {
    display: flex;
    color: rgb(102, 51, 153);
    margin-right: 6px;
    padding: 2px;
    font-variation-settings: 'wght' 300, 'opsz' 24;
    background: rgb(246, 235, 255);
    border-radius: 50%;
    font-size: 18px;
    /* display: none; */
}

.add-button {
    /* background: rgb(231, 201, 255); */
    font-size: 15px;
    color: rebeccapurple;
    user-select: none;
    font-weight: 500;
    /* padding: 5px 10px; */
}

.add-but-icon {
    background: rgba(239, 220, 255, 1);
}

.add-button:hover {
    cursor: pointer;
    .add-but-icon {
        background: rgb(221, 177, 255);
    }
}

.compose-subject:hover {
    cursor: pointer;
    /* background: rgb(244, 228, 255); */

    .compose-subj-add {
        background: rgb(224, 183, 255);
    }
}

.compose-to {
    padding: 1px 12px;
    /* padding: 0px 5px 0px 10px; */
    font-size: 13px;
    /* font-size: 16px; */
    font-weight: 700;
    /* color: rgba(102, 51, 153, 0.966); */
    /* color: black; */
    /* color: rgba(0, 0, 0, 0.664); */
    /* background: rgb(242, 225, 255); */
    /* background: rgba(242, 225, 255, 0.726); */
    /* background: rgba(232, 201, 255, 0.397); */
    align-items: center;
    border-radius: 0px;
    /* border-radius: 0px 5px 5px 0px; */
    /* margin: 0px 10px 0px 0px; */
}

.compose-to-opt {
    /* width: fit-content; */
    /* display: none; */
}

.compose-envelope {
    padding: 8px 0px;
    padding: 6px 0px;
    padding: 7px;
    padding: 4px 0px;
    /* background: rgb(242, 225, 255); */
    /* background: rgba(242, 225, 255, 0.315); */
    background: rgba(242, 225, 255, 0.726);
    background: rgba(243, 243, 243, 0.726);
    background: rgba(235, 210, 255, 0.308);
    /* background: rgba(232, 201, 255, 0.397); */
    border-radius: 5px;
    /* gap: 6px; */
    /* border: 1px solid rgba(150, 93, 207, 0.288); */
    margin: 0px 13px;
    overflow: clip;
}

.compose-input-small {
    width: calc(100% - 32px);
    /* background: rgba(229, 197, 255, 0.753); */
    /* background: rgba(0, 0, 0, 0.089); */
    /* background: rgb(247, 237, 255); */
    padding: 7px 0px;
    font-size: 14px;
    font-weight: 500;
    /* color: rebeccapurple; */
    border-radius: 5px;
    outline: none;
}

.compose-input-mini {
    min-width: 10px;
}

.main-content-compose {
    height: 100%;
    border-radius: 5px;
    /* background: rgba(244, 230, 255, 0.39); */
    /* background: rgba(244, 230, 255, 0.199); */
    outline: none;
    padding: 10px 12px;
    font-size: 14px;
    margin: 0px 7px 0px 7px;
    position: relative;
}

.special-controls-compose {
    width: 100%;
    /* height: 100px; */
    border-radius: 0px 0px 10px 10px;
    /* background: mediumpurple; */
    padding: 0px 7px 7px 0px;
    gap: 6px;
    /* margin: 0px 7px; */
}

.compose-ico {
    color: rebeccapurple;
    background: rgba(242, 225, 255, 0.897);
    padding: 6px;
    border-radius: 5px;
    font-size: 25px;
    font-variation-settings: 'opsz' 0, 'FILL' 1;
}

.compose-ico:hover {
    cursor: pointer;
    background: rgba(235, 210, 255, 0.897);
}

.compose-send {
    border-radius: 0px 5px 6px 0px;
}

.compose-ico-button {
    font-size: 25px;
}

.send-schedule-button {
    justify-content: center;
    border-radius: 5px 0px 0px 5px;
    background: rgba(255, 172, 220, 0.38);
}

.send-schedule-button-icon {
    transform: rotate(-180deg) rotateX(180deg);
    color: rgba(143, 28, 137, 1);
}

.send-schedule-button:hover {
    background: rgba(255, 172, 220, 0.616);
}