.login-box-class-1 {
    width: 700px;
    height: 400px;
    /*background-color: rgba(248, 240, 253, 0.452);*/
    background: linear-gradient(45deg, rgb(246, 223, 253), rgba(248, 240, 225, 0.788), rgba(255, 255, 255, 0.473));
    box-shadow: 0px 20px 40px 5px rgba(58, 1, 80, 0.12);
    border-radius: 20px;
    border: 1px solid rgba(162, 0, 255, 0.151);
    padding: 20px 20px 25px 20px;
    justify-content: space-between;
}

.main-login-logo {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(89, 0, 141, 0.678);
}

.login-input-class-1 {
    min-height: 50px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.075) !important;
    border-radius: 7px !important;
    border: 1px solid rgba(57, 0, 83, 0.178) !important;
    min-width: 0px;
    width: 100%;
}

.login-button-class-1 {
    width: 100%;
    background-color: rgb(12, 0, 19);
    justify-content: center;
    height: 40px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 5px 30px 0px rgba(55, 0, 87, 0.336);
    transition: .08s background-color ease-in-out;
}

.login-button-text {
    color: transparent;
    background: linear-gradient(45deg, pink 0% 33%, wheat 33% 66%, rgb(200, 180, 236) 66% 100%);
    background-clip: text;
    user-select: none;
}

.login-button-class-1:hover {
    cursor: pointer;
    background-color: rgb(117, 0, 163);
}

.login-button-class-1:active {
    background-color: rgb(136, 0, 163);
}

@media (max-width: 760px) and (min-width: 520px) {
    .login-box-class-1 {
        width: calc(100% - 10px);
        border: 0px;
        height: 500px;
        padding: 20px 10px 25px 10px;
        gap: 30px;
        justify-content: space-evenly;
        border-radius: 0px;
    }

    .login-input-class-1 {
        min-height: 40px;
    }

    .login-text-i {
        font-size: 14px;
    }
}

@media (max-width: 520px) {
    .login-box-class-1 {
        width: 100%;
        border: 0px;
        height: 100%;
        padding: 20px 10px 25px 10px;
        justify-content: center;
        gap: 30px;
        border-radius: 0px;
    }

    .login-input-class-1 {
        min-height: 40px;
    }

    .login-text-i {
        font-size: 14px;
    }
}