.no-mails-class-1 {
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 5px;
}

.emptybox-tagline {
    font-size: 30px;
    text-align: center;
    width: calc(100% - 30px);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.637);
}

.mail-categ-button {
    /* width: 200px; */
}

.mail-type-float-con {
    position: absolute;
    bottom: 30px;
    align-self: center;
    gap: 25px;
    /* gap: 0px; */
    padding: 6px 8px;
    border: 1px solid rgba(255, 255, 255, 0.699);
    border-radius: 40px;
    /* background: rgba(251, 202, 255, 0.048); */
    box-shadow: 0px 15px 40px 5px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(10px);
    /* background-color: rgba(240, 232, 255, 0.582); */
}

.mail-type-tab {
    background: rgb(255, 255, 255);
    border: 0px solid rgba(176, 80, 255, 0.164);
    padding: 10px 25px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.897);
    gap: 10px;
}

.mail-tab-selected {
    background: rebeccapurple;
    color: rgba(255, 255, 255, 0.966);
}

.mail-tab-selected-icon {
    color: rgb(255, 255, 255) !important;
}

.mail-type-tab:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.651);
}

.mail-tab-selected:hover {
    background: rgb(133, 66, 199);
    color: rgba(255, 255, 255, 0.897);
}

.mail-view-control {
    background: rgba(255, 255, 255, 0.678);
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    padding: 15px 10px;
}

.mail-view-arrow {
    font-size: 13px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rebeccapurple;
    background: rgba(183, 115, 238, 0.158);
}

.mail-view-arrow:hover {
    background: rgba(183, 115, 238, 0.329);
    cursor: pointer;
}

@media (max-width: 1100px) {
    .mail-categ-button {
        width: fit-content;
        padding: 10px 14px; 
    };
}

@media (max-width: 900px) {
    .mail-select-tab {
        flex-direction: column;
        height: fit-content;
        gap: 5px;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px 10px 10px 10px;
    }

    .mail-date-select {
        align-self: flex-end;
        width: fit-content;
        padding-right: 0px;
    }
}

@media (max-width: 500px) {
    .mail-categ-button {
        padding: 7px 10px;
    }
}