.mainhead {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 50px);
    align-self: center;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.2); /*.2*/
    box-shadow: 0px 2px 30px 5px rgba(0, 0, 0, 0.00); /*.08*/
    margin: 10px 20px 0px 20px;
    margin: 0px;
    border-radius: 15px;
    border-radius: 0px;
    padding: 0px 10px 0px 10px;
    gap: 10px;
    justify-content: space-between;
    box-shadow: 0px 10px 30px 0px rgba(20, 0, 0, 0.08); /*0.8 -> 0.5*/
    background-color: rgba(241, 233, 255, 0.342);
    /*box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.1);*/
    border-bottom: 0px solid rgba(184, 149, 255, 0.288);
    border: 1px solid rgba(162, 80, 255, 0.233);
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
}

.c0-holder {
    display: none;
}

.app-name {
    font-size: 23px;
    padding-left: 20px;
}

.header-avatar {
    height: 100%;
    border-radius: 50%;
}

.search-input {
    border-radius: 5px;
}

.close-button {
    user-select: none;
    font-size: 24px;
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(3, 0, 5);
    color: pink;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.send-button {
    padding: 7px;
    border-radius: 50%;
    background: black;
    color: wheat;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.close-button:hover {
    cursor: pointer;
}

.control-holder {
    gap: 10px;
    height: 100%;
    padding: 10px 10px 10px 0px;
}

.c0-holder {
    width: 300px;
}

.navil-con {
    width: 250px;
    height: 100%;
    box-shadow: 3px 0px 12px 0px rgba(0, 0, 0, 0);
    z-index: 2;
    padding-top: 20px;
}

.navil {
    gap: 5px;
    font-weight: 600;
    padding: 0px 10px 0px 10px;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0px 15px 30px 0px #7200b421;
    background: linear-gradient(45deg, rgba(182, 225, 245, 0.178), white, rgba(255, 247, 230, 0.37), rgba(255, 160, 160, 0.144));
    background: #fff8fd;
    align-self: center;
    width: calc(100% - 20px);
    border: 1px solid rgba(97, 51, 189, 0.171); /* 0px */
    border: 0px dashed black;
    border-radius: 10px;
    border-radius: 0px;
    background: none;
    box-shadow: none;
    width: calc(100% - 10px);
    backdrop-filter: blur(10px);
    /*border: 1px solid rgba(223, 94, 255, 0.438);
    background: linear-gradient(45deg, rgba(255, 223, 228, 0.658), rgba(236, 255, 236, 0.521));
    background: rgba(254, 249, 255, 0.74);
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.1);
    border-radius: 7px;*/
}

.mails-con {
    width: 100%;
    height: fit-content;
    border-radius: 0px 0px 0px 10px; /*15px 0px 0px 10px*/
    align-items: flex-end;
    box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.07), 6px 5px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 50px 0px rgb(169 21 255 / 23%);
    box-shadow: 3px 3px 50px 0px rgba(30, 0, 48, 0.151); /*.23*/
    border: 1px dashed black;
    border: 0px dashed black;
    border: 1px solid rgba(185, 150, 255, 0.452);
    border: 0px dashed black;
    border-right: 0px;
}

:nth-child(1 of div.mail-tab-class-1) {
    border-top-left-radius: 0px; /*15px*/
    border-top: 0px solid black;
}

:nth-last-child(1 of div.mail-tab-class-1) {
    border-bottom-left-radius: 0px;
    border-bottom: 0px solid black;
}

:nth-child(n + 1 of div.mail-tab-class-1) {
    border-left: 0px solid black;
}

.mail-type-con {
    width: 100%;
    gap: 15px;
    justify-content: start;
}

.compose-box {
    position: absolute;
    bottom: 30px;
    right: 30px;
    gap: 10px;
    z-index: 5;
    border-radius: 10px;
    max-width: 600px;
}

.float-con {
    background-color: rgba(252, 247, 255, 0.514);
    height: 100%;
    padding: 0px 10px;
    font-weight: 600;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.07);
    border: 1px dashed rgba(0, 0, 0, 0.438);
}

.float-con-2 {
    border: 1px solid rgba(0, 0, 0, 0.438);
    height: 45px;
    border-top-right-radius: 0px;
}

.cc-bcc-input {
    min-height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subject-con {
    border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 0px 0px;
    outline: none;
    min-width: 0px;
    border: 1px solid rgba(0, 0, 0, 0.438);
    position: relative;
    bottom: -6px;
    min-height: 45px;
    max-width: 550px;
}

.subject-input-placeholder {
    font-size: 20px;
    font-weight: 700;
    border-radius: 0px 10px 10px 0px;
    outline: none;
    color: black;
    padding: 0px;
    min-width: 73px;
}

.compose-input {
    border-radius: 0px 10px 0px 10px;
    border: 1px solid rgba(106, 0, 206, 0.185);
    background-color: transparent;
    background: linear-gradient(90deg, rgba(255, 228, 233, 0.568), rgba(255, 245, 225, 0.747));
    transition: .6s min-width ease-in-out, .6s min-height ease-in-out, .6s bottom ease-in-out;
    box-shadow: 5px 5px 10px 0px rgba(47, 0, 85, 0.151);
    position: relative;
    right: -30px;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
    display: none;
}

.compose-input:hover {
    cursor: pointer;
}

.compose-input-on {
    border: 1px solid rgba(0, 0, 0, 0.438);
    background: none;
    background-color: rgba(253, 249, 255, 0.486);
    box-shadow: 0px 3px 30px 10px rgb(0, 0, 0, 0.08);
    right: 0px;
}

.float-con:nth-child(1 of div.float-con) {
    border-bottom-left-radius: 0px;
}

.notification-panel {
    position: absolute;
    right: 0px;
    top: 100px;
    z-index: 5;
}

.letter-paper-class-1-con {
    width: 100%;
    height: 100%;
    padding: 2px;
    background: linear-gradient(0deg, rgb(0, 162, 255), rgb(214, 0, 118));
    border-radius: 10px;
    box-shadow: -5px 5px 10px 2px rgba(0, 0, 0, 0.199);
}

.letter-paper-class-1 {
    width: 100%;
    height: calc(100%);
    background: linear-gradient(45deg, rgb(248, 235, 210), rgb(255, 240, 213), rgb(250, 221, 226), rgb(255, 231, 235), rgb(255, 249, 254));
    background: linear-gradient(0deg, rgba(255, 240, 223, 0.89), rgba(255, 233, 192, 0.562), rgba(250, 221, 226, 0.726), rgba(255, 231, 235, 0.582));
    background: linear-gradient(0deg, rgb(255, 249, 242), rgba(255, 244, 224, 0.788), rgba(255, 240, 242, 0.938), rgba(255, 226, 230, 0.884), rgba(255, 255, 255, 0.945));
    box-shadow: 0px 10px 30px 0px rgba(53, 0, 83, 0.15);
    box-shadow: 0px 10px 30px 0px rgba(186, 10, 255, 0.144);
    border: 1px solid rgba(177, 0, 162, 0.185);
    border: 0px dashed purple;
    border: 1px solid rgba(199, 171, 255, 0.521);
    box-shadow: 0px 10px 20px 4px rgba(28, 0, 51, 0.116);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    gap: 0px;
    backdrop-filter: blur(10px);
    position: relative;
    border: 3px solid black;

    overflow: clip;
}

.letter-camera {
    position: absolute;
    top: 8px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    justify-content: center;
}

.letter-camera-eyes {
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 6px;
}

.letter-camera-eye {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, white, rgba(255, 255, 255, 0.911), white);
    border-radius: 50%;
    position: relative;
}

.eye-1 {
    top: 0px;
    right: 0px;
}

.eye-2 {
    top: 9px;
    right: 13px;
    box-shadow: 0px 0px 0px 2px black;
    z-index: 2;
    display: none;
}

.eye-3 {
    top: 13px;
    right: 7px;
    box-shadow: 0px 0px 0px 2px black;
    z-index: 3;
    display: none;
}

.letter-window-controls {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.781);
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 40px 0px rgba(96, 0, 116, 0.205);
}

.letter-paper-class-1:hover {
    .letter-window-controls {
        display: flex;
    }
}

.window-ctrl-icon {
    user-select: none;
    padding: 5px;
    border-radius: 50%;
}

.window-ctrl-icon:hover {
    cursor: pointer;
    background-color: black;
    color: wheat !important;
    
}

.letter-padded-block {
    padding: 0px 20px;
    width: 100%;
    gap: 5px;
}

.letter-padded-block-2 {
    padding: 0px 0px 0px 0px;
    width: 100%;
    gap: 5px;
}

.letter-subject {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.letter-content {
    margin-top: 0px; /*10px*/
    font-weight: 500;
    font-size: 15px;
    border: 0px;
    outline: 0px; /*height: 738px*/
    height: 738px;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(37, 0, 107, 0.397) transparent;
    padding-bottom: 0px; /*20px*/
    border-radius: 0px 0px 10px 10px;
    position: relative;
}

.letter-content-backdrop {
    position: absolute;
    bottom: 0px;
    height: 738px;
    width: 100%;
    z-index: -2;
    display: none;
}

.letter-content-backdrop-active {
    background-color: rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(3px);
    z-index: 0;
    display: flex;
}

.letter-bottom-bar-con {
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 10px 10px;
}

.letter-bottom-bar {
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.089));
    background: transparent;
}

.attach-open {
    font-size: 25px;
    position: relative;
    bottom: 20px;
    background: linear-gradient(45deg, rgba(255, 241, 243, 0.822), rgb(238, 231, 255));
    border: 1px solid rgba(185, 150, 255, 0.541);
    background: rgba(255, 255, 255, 0.87);
    padding: 10px;
    border-radius: 8px;
    backdrop-filter: blur(15px);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.164);
    color: rgb(118, 0, 197);
}

.attach-open:hover {
    cursor: pointer;
}

.letter-attachment-view {
    width: 100%;
    position: absolute;
    bottom: -150px;
    outline: none;
    gap: 5px;
    transition: bottom .1s ease-in-out;
}

.letter-attachments {
    min-height: 100px;
    max-height: 150px;
    backdrop-filter: blur(10px);
    background: #ffffffbe;
    border-top: 1px solid rgba(193, 162, 255, 0.384);
    border-radius: 0px 0px 10px 10px;
}

.letter-content::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

.letter-content:hover {
    .letter-content::-webkit-scrollbar {}
}

.letter-content::-webkit-scrollbar-thumb {
    background-color: rgba(186, 68, 255, 0.432);
    border-radius: 5px;
}

.letter-block-one {
    padding: 10px 20px 10px 20px;
    border-left: 0px solid mediumpurple;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.00);
}

.letter-action-bar {
    padding: 0px 0px;
    border-radius: 5px 5px 0px 0px;
    align-self: flex-start;
    border: 0px dashed black;
    border: 1px solid rgba(146, 92, 255, 0.301);
    box-shadow: -5px 5px 5px 0px rgba(67, 0, 129, 0.1); /*.08 -> .13*/
    background-color: white;
    margin-left: 10px;
    border-bottom-width: 0px;

    margin: 5px;
    border-radius: 7px;
    border-bottom-width: 1px;
    margin-bottom: 10px;
}

.letter-action-icon {
    padding: 4px 6px;
    color: rgb(8, 8, 8) !important;
    height: 100%;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: rgb(17, 17, 17) !important;
    border-radius: 3px;
    border: 0px solid rgba(235, 154, 255, 0.479);
    border-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
}

.display-none {
    display: none;
}

.divider-class-2 {
    width: 1px;
    height: 100%;
    background-color: rgba(199, 171, 255, 0);
    margin: 0px;
}

:nth-child(1 of span.letter-action-icon) {
    /*border-radius: 5px 0px 0px 5px;*/
}


:nth-child(1 of span.letter-action-icon) {
    color: white !important;
    color: rgba(255, 65, 185, 0.979) !important;
}

:nth-child(2 of span.letter-action-icon) {
    color: white !important;
    color: mediumpurple !important;
}

:nth-child(3 of span.letter-action-icon) {
    color: white !important;
    color: mediumaquamarine !important;
}

:nth-child(4 of span.letter-action-icon) {
    color: white !important;
    color: mediumorchid !important;
}

:nth-child(5 of span.letter-action-icon) {
    color: white !important;
    color: mediumturquoise !important;
}

:nth-child(6 of span.letter-action-icon) {
    color: white !important;
    color: orange !important;
}


:nth-last-child(1 of span.letter-action-icon) {
    /*border-radius: 0px 5px 5px 0px;*/
}

span.letter-action-icon:hover {
    background-color: black !important;
    color: white !important;
    cursor: pointer;
}

.notification-class-1-frame {
    justify-content: center;
    padding: 5px 5px 5px 5px;
    background: rgb(255, 150, 250);
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.219);
}

.notification-class-1-con-in-frame {
    border: 3px solid black;
    backdrop-filter: blur(10px);
    background: linear-gradient(180deg, rgb(255, 187, 210), rgb(255, 239, 216), rgb(248, 237, 255));
    padding: 7px;
}

.notification-class-1-in-frame {
    border-right-width: 1px;
    border-radius: 5px;
}

.attachment-screen-frame {
    background: linear-gradient(180deg, blueviolet, mediumorchid, mediumpurple);
    height: fit-content;
    max-height: 185px;
    display: none;
}

.attachment-screen {
    background: linear-gradient(180deg, white, rgba(248, 255, 241, 0.918), rgba(255, 230, 234, 0.959));
}

.attachment-con {
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px 10px;
    width: 100%;
    overflow-y: auto;
    border-radius: 10px;
    scrollbar-width: thin;
    scrollbar-color: rgba(94, 0, 202, 0.685) transparent;
}

@media (max-width: 1300px) {
    .mainhead {
        width: 100%;
        border-radius: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
    }
}

@media (max-width: 1100px) {
    .navil-con {
        display: none;
    }

    .c0-holder {
        display: flex;
    }

    .app-name {
        display: none;
    }

    .mail-type-con {
        padding-left: 10px;
    }
}

@media (max-width: 900px) {
    .search-input {
        min-width: 300px;
    }
}

@media (max-width: 700px) {
    .search-input {
        min-width: 200px;
    }

    .search-input-placeholder {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .search-input {
        min-width: 130px;
    }
}