.tab-class-1 {
    gap: 10px; /* 20px */ 
    padding: 7px 10px 7px 35px;
    padding: 7px 7px 7px 20px;
    width: 100%;
    font-size: 14px;
}

.tab-class-1-selected {
    background: rgb(3, 0, 3);
    border: 0px solid rgba(109, 109, 109, 0.288);
    border-left: 0px;
    background: rgb(20, 0, 24);
    border-radius: 0px 0px 5px 0px;
    border-radius: 5px;
    padding-right: 30px;
    /*box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.15);*/
    box-shadow: -7px 5px 25px 0px rgba(0, 0, 0, 0.10);
}

.divider-class-1 {
    height: 1px;
    background-color: rgba(177, 0, 162, 0.185);
    width: 100%;
}

.mail-tab-class-1 {
    width: 100%;
    gap: 30px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(10px);
    padding: 0px 0px 0px 10px;
    border-bottom: 1px solid rgba(82, 82, 82, 0.116);
    border-bottom: 1px dashed rgb(221, 168, 255);
    border-bottom: 1px dashed rgba(70, 70, 70, 0.288);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 10px 9px 0px 0px black;
    box-shadow: none;
    transition: .1s width ease-out;
    font-size: 14.5px;
}

.mail-content-class-1 {
    gap: 10px;
    width: 100%;
}

.mail-from-class-1 {
    width: 150px;
}

.tab-icon-class-1-selected {
    background: linear-gradient(90deg, pink 0% 50%, wheat 50% 100%);
    background-clip: text;
}

.mail-tab-class-1:hover {
    width: calc(100% + 20px);
    width: 100%;
    cursor: pointer;
    background-color: rgb(14, 0, 41);
    color: white;
    box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.233);
    z-index: 2;
    border-bottom: 0px;

    .mail-from-class-1 {
        color: rgb(247, 230, 198);
    }

    .mail-date-class-1 {
        color: pink;
    }
}

.mail-tab-controls-class-1 {
    gap: 5px
}

.mail-date-class-1 {
    padding: 0px;
    font-size: 12px;
    width: 75px;
}

.tab-class-1:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.062);
    border-bottom-right-radius: 5px;
}

.tab-class-2 {
    padding: 15px 10px;
    gap: 15px;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.00);
    border-radius: 10px 10px 0px 0px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(22, 0, 48, 0.11);
    box-shadow: 0px 5px 15px 0px rgba(22, 0, 48, 0.1);
    justify-content: center;
    background: rgb(255, 255, 255);
    border: 0px solid rgba(145, 126, 255, 0.274);
    border: 1px solid rgba(180, 143, 255, 0.363);
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}

.tab-class-2-selected {
    background: rgb(20, 0, 24);
    justify-content: center;
    border-bottom: 3px solid mediumpurple;
    border-radius: 5px 5px 0px 0px;
}

.tab-icon-class-2-selected {
    background: linear-gradient(90deg, pink 0% 50%, wheat 50% 100%);
    background-clip: text;
}

.tab-class-2:hover {
    background-color: rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.tab-class-1-selected:hover {
    background-color: rgb(71, 0, 112);
}

.tab-class-2-selected:hover {
    background-color: rgb(71, 0, 112);
}

@media (max-width: 1700px) {
    .main-body-class-1 {
        display: none;
    }
}

@media (max-width: 700px) {
    .tab-class-2 {
        font-size: 15px;
        gap: 10px;
        font-weight: 700;
    }

    .tab-icon-class-2 {
        font-size: 20px !important;
    }
}

@media (max-width: 500px) {

    .tab-class-2-title {
        display: none;
    }

    .tab-class-2-title-selected {
        display: flex;
        font-size: 14px;
        font-weight: 600;
    }

    .tab-icon-class-2 {
        font-size: 18px !important;
    }
}